{% extends 'SkreenHouseFactoryMobileBundle::layout.html.twig' %}

{% block title %}Votre télé s'agrandit !{% endblock %}

{% block content %}
<div style="text-align:center;">
<img src="/bundles/skreenhousefactorytv/images/liang/icon_logo_1280.png" alt="image" style="margin: 8% 0 20% 0;">
</div>
<form action="{{ path('mobile_search', {'q':''}) }}" method="get">
<input name="q" id="searchinput1" placeholder="Un film, une émission, un acteur, etc" value="" type="search" />
<input type="submit" data-theme="a" value="Lancer la recherche" />
</form>
<br/>
<a href="{{ path('mobile_selection') }}" data-iconpos="right" data-role="button" data-theme="a" data-icon="arrow-r">TV, Replay, Vod et Cinéma : à voir en ce moment</a>


<script>
$(document).ready(function(){
  if (API.cookie('myskreen_m_lastpagechange')) {
    console.log('myskreen_m_lastpagechange', API.cookie('myskreen_m_lastpagechange'));
    $.mobile.changePage(API.cookie('myskreen_m_lastpagechange'));
  }
});
</script>
{% endblock %}