{% extends 'SkreenHouseFactoryMobileBundle::layout.html.twig' %}

{% block title %}TV, Replay, VOD, Cinéa : à voir en ce moment{% endblock %}

{% block content %}

{% if home is defined %}
<ul id="selection" data-role="listview" data-divider-theme="a" data-inset="true">
  {% for pack in home.sliders if pack.id is defined and pack.id != 3772181 %}
    <li data-theme="c">
      <a href="{{ path('mobile_selection', {id: pack.id }) }}">
        <small></small>
        {{ pack.name }}
      </a>
    </li>
  {% endfor %}
</ul>
{% else %}
<ul id="selection" data-role="listview" data-divider-theme="a" data-inset="true">
  <li data-role="list-divider" role="heading">
    {{ pack.name|striptags }}
  </li>
  {% for program in pack.programmes %}
    {% include 'SkreenHouseFactoryMobileBundle:Main:_program.html.twig' with {program: program} %}
  {% endfor %}
</ul>
{% endif %}

{% endblock %}